:root {
  --primary: #00704a;
  --accent: #006641;
  --background: #ffffff;
  --footer-text: #c4c4c4;
  --footer-background: #f0f0f0;
  --dropdown-background: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: #000000;
  /* min-height: 4000px; */
}

/* CSS Style Here */

/* Navbar Section Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-scrolled {
  border-bottom: 5px solid rgba(0, 112, 74, 0.75);
}

.navbar .navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text);
}

.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--accent);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid var(--accent);
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #000000;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--accent);
}

#hamburger-menu {
  display: none;
}

/* Search box start */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: var(--background);
  border: 5px solid rgba(0, 112, 74, 0.75);
  padding: 1rem;
  width: 50rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s ease-in-out;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
  background-color: var(--background);
}

.navbar .search-form label {
  cursor: pointer;
  margin-right: 0.5rem;
}

/* Search box end */

/* Navbar Section End */

/* Hero Section Start */
.hero {
  margin-top: 7rem;
  min-height: 85vh;
}

.hero .row {
  display: flex;
  align-items: center;
}

.hero .row .hero-img {
  flex: 1;
  text-align: right;
  padding-right: 7%;
}

.hero .row .hero-img img {
  height: 35rem;
}

.hero .row .content {
  flex: 1;
  text-align: left;
  padding: 1.4rem 7%;
  max-width: 50rem;
}

.hero .row .content h1 {
  font-size: 3.5rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  line-height: 1.5;
}

.hero .row .content h1 span.highlight {
  color: var(--accent);
  text-decoration: underline;
}

.hero .row .content p {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 300;
}

.hero .row .content .cta {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--background);
  background-color: var(--accent);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  transition: all 0.3s ease;
  border: 2px solid var(--accent);
}

.hero .row .content .cta:hover {
  color: var(--accent);
  background-color: var(--background);
  border-color: var(--accent);
}
/* Hero Section End */

/* Menu Section Start */
.menu {
  padding: 3rem 7% 4.5rem;
  color: var(--background);
  background-color: var(--primary);
}

.menu h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.1rem;
}

.menu p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu .row .menu-card {
  text-align: center;
}

.menu .row .menu-card img {
  width: 15rem;
  border-radius: 50%;
  background-color: var(--background);
}

.menu .row .menu-card .menu-detail h3.menu-title {
  margin: 1rem auto 0.5rem;
  font-weight: 600;
}

.menu .row .menu-card .menu-detail h4.menu-price {
  font-weight: 300;
}

/* Menu Section End */

/* Products Section Start */
.products {
  padding: 3rem 7% 4.5rem;
  color: var(--primary);
  background-color: var(--background);
}

.products h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.1rem;
}

.products p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.products .product-card {
  text-align: center;
  border: 2px solid var(--accent);
  border-radius: 0.5rem;
  padding: 2rem;
}

.products .product-card .product-img img {
  padding: 1rem 0;
  width: 15rem;
}

.products .product-card .product-content h3 {
  margin: 1rem auto 0.5rem;
  font-weight: 600;
}

.products .product-card .product-content .ratings {
  padding: 0.5rem;
  color: var(--accent);
}

.products .product-card .product-content .ratings .rating-full {
  fill: var(--accent);
}

.products .product-card .product-content .product-price {
  font-weight: bold;
  font-size: 1.2rem;
}

.products .product-card .product-content .product-price span {
  text-decoration: line-through;
  color: #585858;
  font-size: 0.8rem;
}

.products .product-card .product-action {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

.products .product-card .product-action a {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .product-card .product-action a#add-to-cart {
  background-color: var(--primary);
  color: var(--background);
}

.products .product-card .product-action a#detail {
  background-color: rgb(66, 66, 253);
  color: var(--background);
}

.products .product-card .product-action a#add-to-cart:hover {
  background-color: var(--background);
  color: var(--primary);
  border: 2px solid var(--primary);
}

.products .product-card .product-action a#detail:hover {
  background-color: var(--background);
  color: rgb(66, 66, 253);
  border: 2px solid rgb(66, 66, 253);
}

/* Products Section End */

/* About Us Section Start */
.about-us {
  padding: 1.4rem 7%;
  color: var(--background);
  background-color: var(--primary);
}

.about-us h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.about-us .row {
  display: flex;
  align-items: center;
}

.about-us .row .about-us-img {
  flex: 1 1 45;
  text-align: center;
}

.about-us .row .about-us-img img {
  width: 60%;
}

.about-us .row .content {
  flex: 1 1 35 rem;
  padding: 0 1rem;
}

.about-us .row .content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.about-us .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
/* About Us Section End */

/* Contact Us Section Start */
.contact {
  padding: 3rem 7% 4.5rem;
  color: var(--accent);
  background-color: var(--background);
}

.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.1rem;
}

.contact p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.contact .row {
  display: flex;
}

.contact .row .contact-maps {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row .contact-form input::placeholder {
  color: #bbbbbb;
}

.contact .row .contact-form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
  background-color: var(--primary);
}

.contact .row .contact-form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  color: var(--background);
  padding: 1rem;
  border: 2px solid var(--background);
  border-radius: 0.5rem;
}

.contact .row .contact-form .input-group input {
  width: 100%;
  margin-left: 1rem;
  font-size: 1.5rem;
  background: none;
  color: var(--background);
}

.contact .row .contact-form .btn-submit {
  display: flex;
  justify-content: center;
}

.contact .row .contact-form .btn-submit button {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--accent);
  background-color: var(--background);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  transition: all 0.3s ease;
  border: 2px solid var(--background);
  cursor: pointer;
}

.contact .row .contact-form .btn-submit button .submit-icon {
  margin-right: 0.5rem;
}

.contact .row .contact-form .btn-submit button:hover {
  color: var(--background);
  background-color: #df2e38;
  border-color: #df2e38;
}

/* Contact Us Section End */

/* Footer Section Start */
footer {
  padding: 1.2rem;
  text-align: center;
}

footer a {
  color: #000000;
}

footer .social-media a {
  color: var(--accent);
  margin: 0.5rem;
}

footer .links {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

footer .links a {
  margin: 0.5rem;
}

footer .copyright a {
  color: var(--accent);
}

/* Footer Section End */

/* ================ */
/* MEDIA QUERIES */
/* ================ */

/* Smartphone */
@media screen and (max-width: 767px) {
  html {
    font-size: 60%;
  }

  /* Side Navbar Section Start */
  #hamburger-menu {
    display: inline-block;
  }

  .navbar {
    padding-right: 5%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(0, 112, 74, 1);
    width: 21rem;
    height: 100vh;
    padding: 1rem 2rem;
    transition: 0.3s ease-in-out;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--background);
    display: block;
    margin: 1.5rem 0.9rem;
    font-size: 2rem;
    font-weight: 700;
  }

  .navbar .navbar-nav a:hover {
    color: var(--background);
  }

  .navbar .navbar-nav a::after {
    border-bottom: 0.2rem solid var(--background);
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.35);
  }

  .navbar .search-form {
    width: 70%;
  }

  /* Side Navbar Section End */

  /* Hero Section Start */
  .hero {
    min-height: 55vh;
  }

  .hero .row {
    flex-direction: column-reverse;
  }

  .hero .row .hero-img {
    padding: 0;
  }

  .hero .row .hero-img img {
    height: 25rem;
  }

  .hero .row .content {
    text-align: center;
  }

  .hero .row .content h1 {
    font-size: 2.5rem;
  }

  .hero .row .content p {
    font-size: 1rem;
  }
  /* Hero Section End */

  /* Menu Section Start */
  .menu .row .menu-card {
    padding-bottom: 1.5rem;
  }
  /* Menu Section End */

  /* Products Section Start */
  .products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    gap: 1rem;
    margin-top: 2rem;
  }
  /* Products Section End */

  /* About Us Section Start */
  .about-us {
    padding: 1.4rem 7%;
  }

  .about-us h2 {
    font-size: 2.2rem;
  }

  .about-us .row .about-us-img {
    flex: 1 1 45rem;
    text-align: center;
  }

  .about-us .row .about-us-img img {
    width: 70%;
  }

  .about-us .row .content {
    flex: 1 1 40rem;
    padding: 0 1rem;
  }

  .about-us .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  .about-us .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  /* About Us Section End */

  /* Contact Us Section Start */
  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .contact-maps {
    height: 30rem;
  }

  .contact .row .contact-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  /* Contact Us Section End */
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 80%;
  }

  /* Side Navbar Section Start */
  #hamburger-menu {
    display: inline-block;
  }

  .navbar {
    padding-right: 4%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(0, 112, 74, 1);
    width: 23rem;
    height: 100vh;
    padding: 1rem 2rem;
    transition: 0.3s ease-in-out;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--background);
    display: block;
    margin: 1.5rem 0.9rem;
    font-size: 2rem;
    font-weight: 700;
  }

  .navbar .navbar-nav a:hover {
    color: var(--background);
  }

  .navbar .navbar-nav a::after {
    border-bottom: 0.2rem solid var(--background);
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.35);
  }
  /* Side Navbar Section End */

  /* Hero Section Start */
  .hero {
    min-height: 65vh;
  }

  .hero .row {
    flex-direction: column-reverse;
  }

  .hero .row .hero-img {
    padding: 0;
  }

  .hero .row .hero-img img {
    height: 30rem;
  }

  .hero .row .content {
    text-align: center;
  }

  .hero .row .content h1 {
    font-size: 3rem;
  }

  .hero .row .content p {
    font-size: 1.2em;
  }
  /* Hero Section End */

  /* Menu Section Start */
  .menu .row .menu-card img {
    width: 10rem;
  }
  /* Menu Section End */

  /* Products Section Start */
  .products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    gap: 1rem;
    margin-top: 2rem;
  }
  /* Products Section End */

  /* About Us Section Start */
  .about-us {
    padding: 1.4rem 7%;
  }

  .about-us h2 {
    font-size: 2.5rem;
  }

  .about-us .row .about-us-img {
    flex: 1 1 45rem;
    text-align: center;
  }

  .about-us .row .about-us-img img {
    width: 70%;
  }

  .about-us .row .content {
    flex: 1 1 40rem;
    padding: 0 1rem;
  }

  .about-us .row .content h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  .about-us .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  /* About Us Section End */
}

/* Laptop */
@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}
/* Media Queries End */
