:root {
  --primary: #00704a;
  --accent: #006641;
  --background: #ffffff;
  --footer-text: #c4c4c4;
  --footer-background: #f0f0f0;
  --dropdown-background: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: #000000;
  min-height: 2000px;
}

/* CSS Style Here */

/* Navbar Section Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-scrolled {
  border-bottom: 5px solid rgba(0, 112, 74, 0.75);
}

.navbar .navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text);
}

.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--accent);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid var(--accent);
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #000000;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--accent);
}

#hamburger-menu {
  display: none;
}
/* Navbar Section End */

/* Hero Section Start */
.hero {
  margin-top: 7rem;
  min-height: 85vh;
}

.hero .row {
  display: flex;
  align-items: center;
}

.hero .row .hero-img {
  flex: 1;
  text-align: right;
  padding-right: 7%;
}

.hero .row .hero-img img {
  height: 35rem;
}

.hero .row .content {
  flex: 1;
  text-align: left;
  padding: 1.4rem 7%;
  max-width: 50rem;
}

.hero .row .content h1 {
  font-size: 3.5rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  line-height: 1.5;
}

.hero .row .content h1 span.highlight {
  color: var(--accent);
  text-decoration: underline;
}

.hero .row .content p {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 300;
}

.hero .row .content .cta {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--background);
  background-color: var(--accent);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  transition: all 0.3s ease;
  border: 2px solid var(--accent);
}

.hero .row .content .cta:hover {
  color: var(--accent);
  background-color: var(--background);
  border-color: var(--accent);
}
/* Hero Section End */

/* About Us Section Start */
.about-us {
  padding: 1.4rem 7%;
  color: var(--primary);
}

.about-us h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.about-us .row {
  display: flex;
  align-items: center;
}

.about-us .row .about-us-img {
  flex: 1 1 45;
  text-align: center;
}

.about-us .row .about-us-img img {
  width: 60%;
}

.about-us .row .content {
  flex: 1 1 35 rem;
  padding: 0 1rem;
}

.about-us .row .content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.about-us .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
/* About Us Section End */

/* ================ */
/* MEDIA QUERIES */
/* ================ */

/* Smartphone */
@media screen and (max-width: 767px) {
  html {
    font-size: 60%;
  }

  /* Side Navbar Section Start */
  #hamburger-menu {
    display: inline-block;
  }

  .navbar {
    padding-right: 5%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(0, 112, 74, 1);
    width: 21rem;
    height: 100vh;
    padding: 1rem 2rem;
    transition: 0.3s ease-in-out;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--background);
    display: block;
    margin: 1.5rem 0.9rem;
    font-size: 2rem;
    font-weight: 700;
  }

  .navbar .navbar-nav a:hover {
    color: var(--background);
  }

  .navbar .navbar-nav a::after {
    border-bottom: 0.2rem solid var(--background);
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.35);
  }
  /* Side Navbar Section End */

  /* Hero Section Start */
  .hero {
    min-height: 55vh;
  }

  .hero .row {
    flex-direction: column-reverse;
  }

  .hero .row .hero-img {
    padding: 0;
  }

  .hero .row .hero-img img {
    height: 25rem;
  }

  .hero .row .content {
    text-align: center;
  }

  .hero .row .content h1 {
    font-size: 2.5rem;
  }

  .hero .row .content p {
    font-size: 1rem;
  }
  /* Hero Section End */

  /* About Us Section Start */
  .about-us {
    padding: 1.4rem 7%;
    color: var(--primary);
  }

  .about-us h2 {
    font-size: 2.2rem;
  }

  .about-us .row .about-us-img {
    flex: 1 1 45rem;
    text-align: center;
  }

  .about-us .row .about-us-img img {
    width: 70%;
  }

  .about-us .row .content {
    flex: 1 1 40rem;
    padding: 0 1rem;
  }

  .about-us .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  .about-us .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  /* About Us Section End */
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 80%;
  }

  /* Side Navbar Section Start */
  #hamburger-menu {
    display: inline-block;
  }

  .navbar {
    padding-right: 4%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(0, 112, 74, 1);
    width: 23rem;
    height: 100vh;
    padding: 1rem 2rem;
    transition: 0.3s ease-in-out;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--background);
    display: block;
    margin: 1.5rem 0.9rem;
    font-size: 2rem;
    font-weight: 700;
  }

  .navbar .navbar-nav a:hover {
    color: var(--background);
  }

  .navbar .navbar-nav a::after {
    border-bottom: 0.2rem solid var(--background);
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.35);
  }
  /* Side Navbar Section End */

  /* Hero Section Start */
  .hero {
    min-height: 65vh;
  }

  .hero .row {
    flex-direction: column-reverse;
  }

  .hero .row .hero-img {
    padding: 0;
  }

  .hero .row .hero-img img {
    height: 30rem;
  }

  .hero .row .content {
    text-align: center;
  }

  .hero .row .content h1 {
    font-size: 3rem;
  }

  .hero .row .content p {
    font-size: 1.2em;
  }
  /* Hero Section End */

  /* About Us Section Start */
  .about-us {
    padding: 1.4rem 7%;
    color: var(--primary);
  }

  .about-us h2 {
    font-size: 2.5rem;
  }

  .about-us .row .about-us-img {
    flex: 1 1 45rem;
    text-align: center;
  }

  .about-us .row .about-us-img img {
    width: 70%;
  }

  .about-us .row .content {
    flex: 1 1 40rem;
    padding: 0 1rem;
  }

  .about-us .row .content h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  .about-us .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  /* About Us Section End */
}

/* Laptop */
@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}
/* Media Queries End */
